{% extends "base.html" %}
{% load staticfiles %}
{% block custom_css %}

        <link rel="stylesheet" href="{% static 'CSS/Survey/Questions.css' %}">

{% endblock custom_css %}

{% block body_block %}

    
    <div class="container">
        <h1>Questions registed in the system</h1>
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Type:</th>
                    <th>Question:</th>
                    <th>Mandatory</th>
                    <th colspan="3">Modify</th>
                </tr>
            </thead>
            <tbody>
                {% for question in Questions %}
                <tr>
                    <td>{{question.InputType.Name}}</td>
                    <td>{{question.Text}}</td>
                    <td class="icon">
                        {% if question.AnswerRequired %}
                            <i class="fa fa-check" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-times" aria-hidden="true"></i>
                        {% endif %} 
                    </td>
                    <td><a href="{% url 'Survey:Details' pk=question.pk %}">Details</a></td>
                    <td><a href="{% url 'Survey:Edit' pk=question.pk %}">Edit</a></td>
                    <td><a href="#">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    

{% endblock body_block %}

